<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>thvqb.crggvanev@vqrnevn.vg</string>
	<key>contactName</key>
	<string>Guido Pettinari</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Guido’s Bundle</string>
	<key>uuid</key>
	<string>580C39FA-F258-4477-9143-ABE9934CD4F8</string>
</dict>
</plist>
